/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: "Open Sans", sans-serif;
  padding: 25px 20px;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  background: #ea260d;
  text-shadow: 0px 2px 0 rgba(0,0,0,.2);
  line-height: 100%;
  color: white;
  padding: 10px;
  margin: 0 auto;
  display: inline-block;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0 30px 0;
}

/* Set the maximum width of your burger */
.burger {
  max-width: 500px;
  margin: 0 auto;
}

/* This center-aligns all of the ingredients */
.burger > div {
  margin: 0 auto;
}